*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px    10/16px = 62.5%

    @include respond(big-desktop){
        font-size: 75%;  // 1rem = 12px  12/16= 75 
      }
    
      @include respond(tab-land){
        font-size: 56.25%;   // 1rem = 9px  9/16=56.25
      }
    
      @include respond(tab-port){
        font-size: 50%;   // 1rem = 8px  8/16=50
      }
    
      @include respond(phone){
        font-size: 45%;   // 1rem = 6px  6/16=37.5
      }
}

body {
    font-family: $font-primary;
    width: auto;
    height: auto;
    background-color: $pale-grey-two;
    
}

.container {
    display: grid;
    grid-template-rows: 60vh repeat(3, min-content);
    grid-template-columns: repeat(12, 1fr);
}