 // Main button hover and hover
 .btn-main {
    width: 15.4rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.4rem;
    font-weight: 600;
    vertical-align: middle;

    @include respond(phone){
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    &__yellow {
        background-color: $butterscotch;
        color: $white;
        text-align: center;
        vertical-align: middle;

        i { 
            margin-left: 1rem;
            vertical-align: middle;
        }
    }
  }
  .btn-hover {
    overflow: hidden;
    position: relative;
  
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .btn-hover:hover {
    
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

  }
  

// All another buttons and hover
.btn {
    width: 15.4rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.4rem;
    font-weight: 600;
    vertical-align: middle;

    @include respond(phone){
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
          
            &::after {
              transform: scaleX(1.4) scaleY(1.6);
              opacity: 0; 
            }
      }
    
    &-white {
        background-color: $light-blue-grey;
        color: $dark-slate-blue;
    }

    &-yellow {
        background-color: $butterscotch;
        color: $white;
        text-align: center;
        vertical-align: middle;

        i { 
            margin-left: 1rem;
            vertical-align: middle;
        }
    }

    &-blue {
        background-color: $dark-slate-blue;
        color: $white;
        
    }
}

// Flight dots

.dot {
    display: inline-block;
    content: ' ';
    width: 0.6rem;
    height: 0.6rem;
    background-color: $cloudy-blue;
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
    opacity: 0.6;

}

// Flight dots small
.dot-sm {
    display: inline-block;
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background-color: $cloudy-blue;
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
    opacity: 0.6;

}
/*
.circle {
    content: '';
    display: inline;
    width: 24px;
    height: 24px;
    background-color: $white;
    color: $white;
    border-radius: 50%;
    padding: 2rem;
}
*/


// Rotate arrive plane
.arrive {
    transform: rotate(-180deg);
}

// Flight companies image set up
.anadolulogo,
.pgslogo,
.thylogo {
    height: 100%;
    width: auto;
}

// Selected Button
.selected {
    transform: scale(1.025);
    box-shadow: 0 2.6rem 4.2rem 3rem rgba(31, 56, 110, 0.18);
}



//Navigation Hover
.n-btn {
    cursor: pointer;
    position: relative; 
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    vertical-align: middle;

    &:before, 
    &:after {
      box-sizing: border-box;
      content: '';
      height: 0;
      position: absolute;
      transition: 0.3s;
      width: 0;
      z-index: -1;
    }   

    &:before {
      bottom: -10px;
      border-bottom: 1px solid $light-blue-grey;
      border-left: 1px solid $light-blue-grey;
      left: -10px;
      transform-origin: 0 100%;
    }     
    
    &:after {
      border-right: 1px solid $light-blue-grey;
      border-top: 1px solid $light-blue-grey;
      right: -10px;
      top: -10px;
      transform-origin: 100% 0%;
    } 

    &:hover {
      vertical-align: middle;
      z-index: 9999;

      &::before,
      &::after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
      }
    }    
  }   


//Footer Hover

  .f-btn {
    cursor: pointer;
    position: relative; 
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    vertical-align: middle;

    &:before, 
    &:after {
      box-sizing: border-box;
      content: '';
      height: 0;
      position: absolute;
      transition: 0.3s;
      width: 0;
      z-index: -1;
    }   

    &:before {
      bottom: -10px;
      border-bottom: 1px solid $dark-slate-blue;
      border-left: 1px solid $dark-slate-blue;
      left: -10px;
      transform-origin: 0 100%;
    }     
    
    &:after {
      border-right: 1px solid $dark-slate-blue;
      border-top: 1px solid $dark-slate-blue;
      right: -10px;
      top: -10px;
      transform-origin: 100% 0%;
    } 

    &:hover {
      vertical-align: middle;
      z-index: 9999;

      &::before,
      &::after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
      }
    }    
  }   



  /* Sticky navbar */
.sticky {


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    padding: 0 10rem;

 .navbar__list {
    
    margin: 2rem 0; }

 .navbar__list li a:link,
 .navbar__list li a:visited {
     
    padding: 0 0;
    color: $dark-slate-blue;
}


}

.sticky .navbar__logo { display: none; 

}
.sticky .logo-dark { display: block;
    margin: -3rem;
    padding: 0 3rem;
    height: auto;

    @include respond (phone){
        display: none;
    }
}