.btn {
    width: 15.4rem;
    height: 4rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.4rem;
    font-weight: 600;
    vertical-align: middle;

    @include respond(phone){
        font-size: 1.6rem;
    }

    
    

    &-white {
        background-color: $light-blue-grey;
        color: $dark-slate-blue;
    }

    &-yellow {
        background-color: $butterscotch;
        color: $white;
        text-align: center;
        vertical-align: middle;

        i { 
            margin-left: 1rem;
            vertical-align: middle;
        }
    }

    &-blue {
        background-color: $dark-slate-blue;
        color: $white;
        
    }
}

.dot {
    display: inline-block;
    content: ' ';
    width: 0.6rem;
    height: 0.6rem;
    background-color: $cloudy-blue;
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
    opacity: 0.6;

}

.dot-sm {
    display: inline-block;
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background-color: $cloudy-blue;
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
    opacity: 0.6;

}
/*
.circle {
    content: '';
    display: inline;
    width: 24px;
    height: 24px;
    background-color: $white;
    color: $white;
    border-radius: 50%;
    padding: 2rem;
}
*/

.arrive {
    transform: rotate(-180deg);
}

.anadolulogo,
.pgslogo,
.thylogo {
    height: 100%;
    width: auto;
}

.selected {
    transform: scale(1.025);
    box-shadow: 0 2.6rem 4.2rem 3rem rgba(31, 56, 110, 0.18);
}













