.header {
    width: auto;
    height: 60vh;
    color: $white;
    background-image: linear-gradient(102deg, #264380, $dark-slate-blue);
    padding: 2rem 10rem;
    grid-column: 1 / -1;
    grid-row: 1 /2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    @include respond(tab-land){
        padding: 2rem 6rem;
    }
    @include respond(tab-port){
        padding: 2rem 2rem;
    }

  

    
    

    .navbar {
        
        &__list {
            display: block;  /*Activete and Deactivate navbar*/
            
            @include respond (phone){
                display: none;
            }
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);

        &__logo { 
            margin: -3rem;
            padding: 0 3rem;
            height: auto;

            @include respond (phone){
                margin: 4.5rem 0;
            }
        }

        &__list-item {
            line-height: 1.43;
            font-weight: 600;
            text-align: center;
            display: inline;
            padding: 0 3rem;
            list-style: none;
            text-decoration: none;
            color: $white;
            font-size: 1.4rem;
            

            a {
                color: $white;
                text-decoration: none;
            }
        }


    }

    .ticket__steps {
        margin: 4rem 0;

        @include respond(phone){
            justify-self: center;
            align-self: center;
        }
        .horiz {
            transform: rotate(-90deg);
            background-color: $white;
            border: 1px solid $white;
            border-radius: 50%;
            padding: 0.7rem;
            font-size: 1.8rem;
            margin-left: -1.93rem;
                     
        }

        span {
            padding: 0 0 0 1rem;
            font-size: 2.5rem;
            color: $light-blue-grey;
            opacity: 0.4;
            vertical-align: middle;
            @include respond(tab-port){
                padding: 2rem 2rem;
            }
        }
        .icon {
            padding: 1rem 1rem;
            border: 1px solid $light-blue-grey;
            border-radius: 50%;
            font-size: 1.6rem;

            @include respond(phone){
                font-size: 3rem;
            }
            
        }
    }

    .total {
        width: 10rem;
        height: 2.4rem;
        opacity: 0.5;
        font-family: $font-primary;
        font-size: 1.6rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        justify-self: end;
        align-self: end;

        @include respond(phone){
            display: none;
        }
    }

    .total2 {
        display: none;
        width: 10rem;
        opacity: 0.5;
        font-family: $font-primary;
        font-size: 1.6rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        justify-self: end;
        align-self: end;

        @include respond(phone){
            display: block;
            justify-self: center;
            align-self: center;
            padding-bottom: 2rem;
        }
    }
    
    .flight {
        letter-spacing: 2px;
        margin: 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        
        @include respond(phone){
            flex-direction: column;
            justify-content: center;
            padding: 2rem 0;
        }

        &__from-to {

            @include respond(phone){
                padding: 2rem 0;
            }
        }
     
      
        .plane {
            font-size: 2rem;
            color: $white;
            margin-left: 0.2rem;

        }

        span {
            color: $light-blue-grey;
        }
    }

    .flight{
        margin-top: 1rem;
        &__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; 

            @include respond(phone){
                flex-direction: column;
                justify-content: center;
            }
            
           }
        
        &__details {
            width: auto;
            font-size: 1.4rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1px;
            color: $white;
            @include respond(phone){
                padding: 3rem;
            }

        }
        }



}



/* Search flight section */
.search-bar {
        padding: 0 10rem;
        background-color: $white;
        grid-column: 1 / -1;

        @include respond(tab-land){
            padding: 0 6rem;
        }

        @include respond(tab-port){
            padding: 0 2rem;
        }
           
        
        
        &__list{
            padding: 2rem 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            backface-visibility: hidden;
             
             @include respond(phone){
                flex-direction: column;
                align-items: center;  
            
            }
             

             & > * {
                cursor: pointer;
            }
            
            & > *:hover{
                transform: scale(1.048);
              }
        
           
        }

        &__list-items {
            transition: all .1s;
            display: inline-block;
            text-decoration: none;
            color: $dark-slate-blue;
            opacity: 0.5;
            width: auto;
            font-size: 1.6rem;
            font-weight: 600;
            font-stretch: normal;
            line-height: 1.43;
            padding-right: 0 2rem;
            font-family: $font-primary;

            .fa-search {
                padding-left: 10px;
                vertical-align: center;
            }
            @include respond(phone){
                padding: 1rem 0 2rem 0;
                font-size: 2rem;
            }
                        
            
            &:last-child a {
                background-color: $blue-grey;
                color: $white;

                @include respond(phone){
                    padding: 1.5rem 1.5rem;
                    font-size: 2rem;
                }
             
                
            }

        }

}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Departure and Attival section*/

.departure {
    padding: 0 0 0 10rem;
    grid-row: 3/4;
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr max-content;
    grid-gap: 1rem 1rem;
    margin: 0 1rem 8rem 1rem;

    @include respond (tab-land){
        padding : 0 0 0 6rem;
    }
    @include respond(tab-port){
        padding: 0 2rem 0 2rem;
        display:grid;
        grid-column: 1 / -1;
        grid-row: auto;
      }
  /*
    
    @media only screen  and (max-width: 992px){
        grid-column: 1 /-1;
        grid-row: auto;
    }

    */
    /*Departure Title*/
    &__title {
       justify-self: start;
       align-self: center;
        width: auto;
        font-size: 2.4rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $dark-slate-blue;

        i {
            width: 2rem;
            height: 2rem;
            margin-right: 2rem;
        }

    }

    /*Departure Date bar*/
    &__date-bar{
        
        .date-list {
            background-color: $white;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            

            &__item {
                display: inline-block;
                list-style: none;
                color:$dark-slate-blue;
                width: auto;
                height: 7.2rem;
                opacity: 0.5;
                font-size: 1.6rem;
                font-weight: 600;
                font-style: normal;
                line-height: 1.5;
                padding: 1rem;
               
                
            }

            .show {
                opacity: 1;
                border-bottom: 2px solid $butterscotch-two;
            }

            .date {
                display: block;
            }
            
            .price {
                display: block;
                opacity: 0.25;
                font-size: 1.4rem;
            }

            .date-scroll {
                
             &__left {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                display: inline-block;
                width: 4rem;
                background-color: $pale-grey;
                font-size: 2rem;
                text-align: center;
                vertical-align: baseline;
                padding: 3rem 0;     
             }

             &__right {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                display: inline-block;
                width: 4rem;
                background-color: $pale-grey;
                font-size: 2rem;
                text-align: center;
                vertical-align: baseline;
                padding: 3rem 0;
             }  
            
            }
        }

    }

    /*Departure Card*/
    &__card {
        height: 100%;
        border-radius: 1rem;
        box-shadow: 0 1.6rem 3.2rem 0 rgba(31, 56, 110, 0.18);

        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            padding: 2rem;
            border-bottom: 2px dotted $pale-grey;
            background-color: $white;
           /* background-image:
            radial-gradient(circle at 100% 100%, $pale-grey 15px, $white 15px),
            radial-gradient(circle at 0 100%, $pale-grey 15px, $white 15px);*/

            &-text {
                padding: 0.5rem;

                .text {
                    font-size: 2rem;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: $dark-slate-blue;
                    padding-right: 2rem;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        &-bottom {
            background-color: $white;
            padding: 2rem 0 2rem 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
           /* background-image:
            radial-gradient(circle at 0 0, $pale-grey 15px, $white 15px),
            radial-gradient(circle at 100% 0, $pale-grey 15px, $white 15px);*/
            

            .bottom-card__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &-item {
                    padding: 0.5rem 1rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    opacity: 0.5;
                    color: $dark-slate-blue;
                    display: inline-block;
                    list-style: none;
                    text-align: center;
                }
            }

            .bottom-card__list2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                

                .font-sm {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
                &-item {
                    padding: 0.5rem 1rem;
                    display: inline-block;
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $dark-slate-blue;
                }
            }
        }

        /*.
        card-scroll {
            position: absolute;

        }
        */
    }

}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
.arrival {
    padding: 0  10rem 0 0;
    grid-row: 3/4;
    grid-column: 7/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 1rem 1rem;
    margin: 0 1rem 8rem 1rem;

    @include respond (tab-land){
        padding : 0 6rem 0 0;
    }
    @include respond(tab-port){
        padding: 0 2rem 0 2rem;
        display:grid;
        grid-column: 1 / -1;
        grid-row: auto;
      }


       /*Arrival Title*/
       &__title {
        padding-left: 1rem;
         justify-self: start;
         align-self: center;
         width: auto;
         height: 3.6rem;
         font-size: 2.4rem;
         font-weight: 600;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.5;
         letter-spacing: normal;
         color: $dark-slate-blue;
         vertical-align: middle;
 
         i {
             width: 2rem;
             height: 2rem;
             margin-right: 2rem;
         }


     }
 
     
     /*Arrival date bar*/
     &__date-bar{
        margin-left: 0 1rem;
        .date-list {
            background-color: $white;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            

            &__item {
                display: inline-block;
                list-style: none;
                color:$dark-slate-blue;
                width: auto;
                height: 7.2rem;
                opacity: 0.5;
                font-size: 1.6rem;
                font-weight: 600;
                font-style: normal;
                line-height: 1.5;
                padding: 1rem;
               
                
            }

            .show {
                opacity: 1;
                border-bottom: 2px solid $butterscotch-two;
            }

            .date {
                display: block;
            }
            
            .price {
                display: block;
                opacity: 0.25;
                font-size: 1.4rem;
            }

            .date-scroll {
                
             &__left {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                display: inline-block;
                width: 4rem;
                background-color: $pale-grey;
                font-size: 2rem;
                text-align: center;
                vertical-align: baseline;
                padding: 3rem 0;     
             }

             &__right {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                display: inline-block;
                width: 4rem;
                background-color: $pale-grey;
                font-size: 2rem;
                text-align: center;
                vertical-align: baseline;
                padding: 3rem 0;
             }  
            
            }
        }

    }
 
     /*Departure Card*/
    &__card {
        height: 100%;
        border-radius: 1rem;
        box-shadow: 0 1.6rem 3.2rem 0 rgba(31, 56, 110, 0.18);

        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            padding: 2rem;
            border-bottom: 2px dotted $pale-grey;
            background-color: $white;
           /* background-image:
            radial-gradient(circle at 100% 100%, $pale-grey 15px, $white 15px),
            radial-gradient(circle at 0 100%, $pale-grey 15px, $white 15px);*/

            &-text {
                padding: 0.5rem;

                .text {
                    font-size: 2rem;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: $dark-slate-blue;
                    padding-right: 2rem;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        &-bottom {
            background-color: $white;
            padding: 2rem 0 2rem 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
           /* background-image:
            radial-gradient(circle at 0 0, $pale-grey 15px, $white 15px),
            radial-gradient(circle at 100% 0, $pale-grey 15px, $white 15px);*/
            

            .bottom-card__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &-item {
                    padding: 0.5rem 1rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    opacity: 0.5;
                    color: $dark-slate-blue;
                    display: inline-block;
                    list-style: none;
                    text-align: center;
                }
            }

            .bottom-card__list2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .font-sm {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
                &-item {
                    padding: 0.5rem 1rem;
                    display: inline-block;
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $dark-slate-blue;
                }
            }
        }

        /*.
        card-scroll {
            position: absolute;

        }
        */
    }
}

.footer {
    grid-column: 1 / -1;
    padding: 4rem 10rem 4rem 10rem;
    background-color: $white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    @include respond(phone){
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    
    &-logo {
        
        @include respond(phone){
            grid-column: 1 / -1;
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 0 1rem 0;
        }

        &__img {
            padding : 0 0 2rem 0;
        }

        &__text {
            opacity: 0.5;
            font-family: $font-primary;
            font-size: 1.4rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $dark-slate-blue;
            @include respond(phone){
                
                font-size: 2rem;
            }
        }
    }

    &-pro {

        @include respond(phone){
            grid-column: 1 / -1;
            grid-row: 2/3;
            justify-self: start;
        }

        &__title {
            @include title;
        }

        &__list {

            &__item {
                list-style: none;
                padding: 1rem 0;

                a {
                    
                    @include list;
                }
            }
        }

    }

    &-about {

        @include respond(phone){
            grid-column: 1 / -1;
            grid-row: 2/3;
            justify-self: center;
        }

        &__title {
            @include title;
        }

        &__list {

            &__item {
                list-style: none;
                padding: 1rem 0;

                a {
                    @include list;
                }
            }
        }

    }

    &-support {

        @include respond(phone){
            grid-column: 1 / -1;
            grid-row: 2/3;
            justify-self: end;
        }

        &__title {
            @include title;
        }

        &__list {

            &__item {
                list-style: none;
                padding: 1rem 0;

                a {
                    @include list;
                }
            }
        }

    }
}


