/*
Mixins
*/
@mixin list {
    text-decoration: none;
    opacity: 0.5;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $dark-slate-blue;
}

@mixin title {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $dark-slate-blue;
    padding: 0 0 2rem 0;
}

/*
Variables
*/
$white: #ffffff;
$black: #000000;
$cloudy-blue: #ced7e0;
$butterscotch: #fab555;
$butterscotch-two: #fab95b;
$pale-grey: #e6edf5;
$pale-grey-two: #f7f8fc;
$blue-grey: #97a6b8;
$dark-slate-blue: #1a3163;
$light-blue-grey: #d8e1eb;
$light-royal-blue: #3b44ff;
$reddish-pink: #ff2b5d;

$font-primary : Lato, sans-serif;


@import 'base';
@import 'component';
@import 'layout';