// MEDİA QUERY MANAGER 

/*
0-600px     : Phone

600-900px   : Tablet portrait

900-1200px  : Tablet landscape

(1200-1800) :   is where our normal style applied

1800+       : Big desktop


--- $breakpoint argument choise

- phone
- tab-port
- tab-land
- big-desktop


1em = 16px

*/

@mixin respond ($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };       // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };        // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };    // 1800px
    }

}

/*
Mixins
*/
@mixin list {
    text-decoration: none;
    opacity: 0.5;
    font-family: $font-primary;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $dark-slate-blue;

    @include respond(phone){
                
        font-size: 1.6rem;

    }
}

@mixin title {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $dark-slate-blue;
    padding: 0 0 2rem 0;
    @include respond(phone){
                
        font-size: 1.8rem;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
Variables
*/
$white: #ffffff;
$black: #000000;
$cloudy-blue: #ced7e0;
$butterscotch: #fab555;
$butterscotch-two: #fab95b;
$pale-grey: #e6edf5;
$pale-grey-two: #f7f8fc;
$blue-grey: #97a6b8;
$dark-slate-blue: #1a3163;
$light-blue-grey: #d8e1eb;
$light-royal-blue: #3b44ff;
$reddish-pink: #ff2b5d;

$font-primary : Lato, sans-serif;

@import 'navigation';
@import 'base';
@import 'component';
@import 'layout';
